<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Home2</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="nav-extended deep-orange lighten-2" role="navigation">
        <div class="nav-wrapper nav-container">
            <a href="index.html" class="nav-logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons">notifications</i></a></li>
                <li><a href="profile_owner.html"><i class="material-icons">person</i></a></li>
                <li><a href="#"><i class="material-icons">more_vert</i></a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="tabs tabs-transparent">
                <li class="tab col s4"><a class="active" href="#all">全部</a></li>
                <li class="tab col s4"><a href="#member">加入的</a></li>
                <li class="tab col s4"><a href="#your">擁有的</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="row">
            <div class="col m2 left-side hide-on-small-only">
                <div class="catagory-list pin-top" style="top: 0px;">
                    <div style="height: 1px;">
                        <ul class="section table-of-contents">
                            <li><a href="" class="active"><i class="material-icons tiny">face</i>全部</a></li>
                            <li><a href=""><i class="material-icons tiny">computer</i>資訊科技</a></li>
                            <li><a href=""><i class="material-icons tiny">build</i>工程建築</a></li>
                            <li><a href=""><i class="material-icons tiny">functions</i>數理化學</a></li>
                            <li><a href=""><i class="material-icons tiny">healing</i>醫藥衛生</a></li>
                            <li><a href=""><i class="material-icons tiny">local_florist</i>自然科學</a></li>
                            <li><a href=""><i class="material-icons tiny">palette</i>藝術設計</a></li>
                            <li><a href=""><i class="material-icons tiny">local_library</i>人文社會</a></li>
                            <li><a href=""><i class="material-icons tiny">attach_money</i>財經管理</a></li>
                            <li><a href=""><i class="material-icons tiny">translate</i>語言學習</a></li>
                            <li><a href=""><i class="material-icons tiny">fitness_center</i>運動遊憩</a></li>
                            <li><a href=""><i class="material-icons tiny">assignment</i>資格檢定</a></li>
                            <li><a href=""><i class="material-icons tiny">school</i>升學考試</a></li>
                            <li><a href=""><i class="material-icons tiny">extension</i>其他</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m10 right-side">
                <div id="modal_complete_profile" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <div class="row">
                            <form class="col s8 offset-s2">
                                <h5 class="light">建立個人資料</h5>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="name" type="text" class="validate">
                                        <label for="name">姓名</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <input name="gender" type="radio" id="male" />
                                        <label for="male">男</label>
                                        <input name="gender" type="radio" id="female" />
                                        <label for="female">女</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="birthday" type="text" class="validate">
                                        <label for="birthday">生日</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="introduction" class="materialize-textarea"></textarea>
                                        <label for="introduction">簡介</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                        <label>興趣</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">跳過</a>
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                    </div>
                </div>
                <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                    <a class="btn-floating btn-large teal accent-2" href="#modal_add_group">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                <div id="modal_add_group" class="modal modal-fixed-footer small-modal">
                    <div class="modal-content">
                        <div class="row">
                            <form class="col s12">
                                <h5 class="light">建立π</h5>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="name" type="text" class="validate">
                                        <label for="name">Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select class="icons" multiple>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option value="" data-icon="images/sample-1.jpg" class="left circle">example 1</option>
                                            <option value="" data-icon="images/office.jpg" class="left circle">example 2</option>
                                            <option value="" data-icon="images/yuna.jpg" class="left circle">example 3</option>
                                        </select>
                                        <label>分類</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                        <label>權限</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">新增</a>
                    </div>
                </div>
                <div id="all" class="col s12">
                    <div class="container">
                        <div class="section">
                            <h5 class="light">熱門</h5>
                            <div class="row">
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <h5 class="light">最新</h5>
                            <div class="row">
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="member" class="col s12">
                    <div class="container">
                        <div class="section">
                            <h5 class="light">全部</h5>
                            <div class="row">
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="your" class="col s12">
                    <div class="container">
                        <div class="section">
                            <h5 class="light">全部</h5>
                            <div class="row">
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="group_log_in.html">Card Title</a></span>
                                            <p>87位成員</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">加入</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/init.js"></script>
</body>

</html>
