<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Home1</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="deep-orange lighten-2" role="navigation">
        <div class="nav-wrapper nav-container">
            <a href="index.html" class="nav-logo"></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="sign_in.html" class="waves-effect waves-light btn deep-orange lighten-3">登入</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="row">
            <div class="col m2 left-side hide-on-small-only">
                <div class="catagory-list pin-top" style="top: 0px;">
                    <div style="height: 1px;">
                        <ul class="section table-of-contents">
                            <li><a href="" class="active"><i class="material-icons tiny">face</i>全部</a></li>
                            <li><a href=""><i class="material-icons tiny">computer</i>資訊科技</a></li>
                            <li><a href=""><i class="material-icons tiny">build</i>工程建築</a></li>
                            <li><a href=""><i class="material-icons tiny">functions</i>數理化學</a></li>
                            <li><a href=""><i class="material-icons tiny">healing</i>醫藥衛生</a></li>
                            <li><a href=""><i class="material-icons tiny">local_florist</i>自然科學</a></li>
                            <li><a href=""><i class="material-icons tiny">palette</i>藝術設計</a></li>
                            <li><a href=""><i class="material-icons tiny">local_library</i>人文社會</a></li>
                            <li><a href=""><i class="material-icons tiny">attach_money</i>財經管理</a></li>
                            <li><a href=""><i class="material-icons tiny">translate</i>語言學習</a></li>
                            <li><a href=""><i class="material-icons tiny">fitness_center</i>運動遊憩</a></li>
                            <li><a href=""><i class="material-icons tiny">assignment</i>資格檢定</a></li>
                            <li><a href=""><i class="material-icons tiny">school</i>升學考試</a></li>
                            <li><a href=""><i class="material-icons tiny">extension</i>其他</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m10 right-side">
                <div class="container">
                    <div class="section">
                        <h5 class="light">熱門</h5>
                        <div class="row">
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <h5 class="light">最新</h5>
                        <div class="row">
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m3">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="group.html">Card Title</a></span>
                                        <p>87位成員</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/init.js"></script>
</body>

</html>
