<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Home1</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
     <nav class="nav-extended deep-orange lighten-2" role="navigation">
        <div class="nav-wrapper nav-container">
            <a href="{% url 'own_front' %}?id={{request.user.id}}" class="nav-logo"></a>
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                <li>{{request.user}} 您已經登入囉~<a href="/logout/" class="waves-effect waves-light btn deep-orange lighten-3">登出</a></li>
                <li><a href="#"><i class="material-icons">notifications</i></a></li>
                <li><a href="{% url 'own_profile' %}?id={{request.user.id}}"><i class="material-icons">person</i></a></li>
                <li><a href="#"><i class="material-icons">more_vert</i></a></li>
                {% else %}
                <li> 您尚未登入喔~<a href="/login/" class="waves-effect waves-light btn deep-orange lighten-3">登入</a></li>
                {% endif %}
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            {% if request.user.is_authenticated %}
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="tabs tabs-transparent">
                <li class="tab col s4"><a class="active" href="#all">全部</a></li>
                <li class="tab col s4"><a href="#member">加入的</a></li>
                <li class="tab col s4"><a href="#your">擁有的</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <main>
        <div class="row">
            <div class="col m2 left-side hide-on-small-only">
                <div class="catagory-list pin-top" style="top: 0px;">
                    <div style="height: 1px;">
                        <ul class="section table-of-contents">
                            <li><a href="{% url 'own_front' %}?id={{request.user.id}}" class="active"><i class="material-icons tiny">face</i>全部</a></li>
                            <li><a href="{% url 'own_computer_front' %}?id={{request.user.id}}"><i class="material-icons tiny">computer</i>資訊科技</a></li>
                            <li><a href="{% url 'own_build_front' %}?id={{request.user.id}}"><i class="material-icons tiny">build</i>工程建築</a></li>
                            <li><a href="{% url 'own_math_front' %}?id={{request.user.id}}"><i class="material-icons tiny">functions</i>數理化學</a></li>
                            <li><a href="{% url 'own_healing_front' %}?id={{request.user.id}}"><i class="material-icons tiny">healing</i>醫藥衛生</a></li>
                            <li><a href="{% url 'own_nature_front' %}?id={{request.user.id}}"><i class="material-icons tiny">local_florist</i>自然科學</a></li>
                            <li><a href="{% url 'own_art_front' %}?id={{request.user.id}}"><i class="material-icons tiny">palette</i>藝術設計</a></li>
                            <li><a href="{% url 'own_society_front' %}?id={{request.user.id}}"><i class="material-icons tiny">local_library</i>人文社會</a></li>
                            <li><a href="{% url 'own_manage_front' %}?id={{request.user.id}}"><i class="material-icons tiny">attach_money</i>財經管理</a></li>
                            <li><a href="{% url 'own_language_front' %}?id={{request.user.id}}"><i class="material-icons tiny">translate</i>語言學習</a></li>
                            <li><a href="{% url 'own_sport_front' %}?id={{request.user.id}}"><i class="material-icons tiny">fitness_center</i>運動遊憩</a></li>
                            <li><a href="{% url 'own_qulification_front' %}?id={{request.user.id}}"><i class="material-icons tiny">assignment</i>資格檢定</a></li>
                            <li><a href="{% url 'own_test_front' %}?id={{request.user.id}}"><i class="material-icons tiny">school</i>升學考試</a></li>
                            <li><a href="{% url 'own_other_front' %}?id={{request.user.id}}"><i class="material-icons tiny">extension</i>其他</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m10 right-side">
                {% if request.user.is_authenticated %}
                <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                    <a class="btn-floating btn-large teal accent-2" href="#modal_add_group">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                <div id="modal_add_group" class="modal modal-fixed-footer small-modal">
                    <form class="col s12" action="" method="post">
                        <div class="modal-content">
                            <div class="row">
                                <h5 class="light">建立π</h5>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" name="name" class="validate">
                                        <label for="name">名稱</label>
                                        {% if name_error %}
                                        <p>* 名稱輸入不完整，請重新輸入</p>
                                        {% endif %}
                                        {% if error %}
                                        <p>* 名稱已經存在，請重新輸入</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <!--only one classification-->
                                        <select name="classification" class="icons">
                                            <option value="" disabled selected>選擇您的選項</option>
                                            {% for classification in classifications %}
                                            <option value="{{classification.id}}" data-icon="../static/images/img1.png" class="left circle">{{classification.name}}</option>
                                            {% endfor %}
                                        </select>
                                        {% if classification_error %}
                                        <p>* 分類輸入不完整，請重新輸入</p>
                                        {% endif %}
                                        <label>分類</label>
                                    </div>
                                </div>
                                <!--<div class="row">-->
                                <!--    <div class="input-field col s12">-->
                                <!--        <select>-->
                                <!--            <option value="" disabled selected>選擇您的選項</option>-->
                                <!--            <option value="1">Option 1</option>-->
                                <!--            <option value="2">Option 2</option>-->
                                <!--            <option value="3">Option 3</option>-->
                                <!--        </select>-->
                                <!--        <label>權限</label>-->
                                <!--    </div>-->
                                <!--</div>-->
                                <div class="row">
                                    <div class="inpit-field">
                                        <!--leader field will pass directly,does not require the user to complete.-->
                                        <input type="hidden" name="leader_id" value="{{request.user.id}}">
                                    </div>
                                </div>
                                <div class=" modal-action modal-close waves-effect waves-green btn-flat">
                                    <input type="submit" name="add_group" value="新增">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
                <div id="all" class="col s12">
                    <div class="container">
                        <div class="section">
                            {% if is_join %}
                            <p>* 您已經加入該社團囉!</p>
                            {% endif %}
                            <h5 class="light">熱門</h5>
                            <div class="row">
                                {% if hot_groups.exists %}
                                    {% for hot_group in hot_groups %}
                                    <div class="col s6 m3">
                                        <div class="card group-card">
                                            <div class="card-image">
                                                <img src="../static/images/img1.png">
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title"><a href="/group?id={{hot_group.id}}">{{hot_group.name}}</a></span>
                                                <p>{{hot_group.join_number}}位成員</p>
                                            </div>
                                            {% if request.user.is_authenticated %}
                                            <form action="" method="post">
                                                <input type="hidden" name="member_id" value="{{request.user.id}}">
                                                <input type="hidden" name="group_id" value="{{hot_group.id}}">
                                                <div class="card-action">
                                                    <input type="submit" name="join_group" value="加入">
                                                </div>
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <p>{{classification.name}}類還沒有熱門社團喔!</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="section">
                            <h5 class="light">最新</h5>
                            <div class="row">
                                {% if latest_groups.exists %}
                                    {% for latest_group in latest_groups %}
                                    <div class="col s6 m3">
                                        <div class="card group-card">
                                            <div class="card-image">
                                                <img src="../static/images/img1.png">
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title"><a href="{% url 'own_group' %}?id={{latest_group.id}}">{{latest_group.name}}</a></span>
                                                <p>{{latest_group.join_number}}位成員</p>
                                            </div>
                                            {% if request.user.is_authenticated %}
                                            <form action="" method="post">
                                                <input type="hidden" name="member_id" value="{{request.user.id}}">
                                                <input type="hidden" name="group_id" value="{{latest_group.id}}">
                                                <div class="card-action">
                                                    <input type="submit" name="join_group" value="加入">
                                                </div>
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <p>{{classification.name}}還沒有新社團喔!</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <div id="member" class="col s12">
                    <div class="container">
                        <div class="section">
                            <h5 class="light">全部</h5>
                            <div class="row">
                            {% if join_groups.exists %}
                                {% for join_group in join_groups %}
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="{% url 'own_group' %}?id={{join_group.group.id}}">{{join_group.group.name}}</a></span>
                                            <p>{{join_group.group.join_number}}位成員</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <p>你還沒有加入{{classification.name}}的社團喔!</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="your" class="col s12">
                    <div class="container">
                        <div class="section">
                            <h5 class="light">全部</h5>
                            <div class="row">
                            {% if leader_groups.exists %}
                                {% for leader_group in leader_groups %}
                                <div class="col s6 m3">
                                    <div class="card group-card">
                                        <div class="card-image">
                                            <img src="../static/images/img1.png">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><a href="{% url 'own_group' %}?id={{leader_group.id}}">{{leader_group.name}}</a></span>
                                            <p>{{leader_group.join_number}}位成員</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <p>你還沒有創立{{classification.name}}類的社團喔!</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/init.js"></script>
</body>

</html>
