<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico">
    <title>Pi++ - {{ group.name }}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/mdDateTimePicker.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/croppie.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/group.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <ul id="nav-dropdown" class="dropdown-content">
        <li><a href="/logout/" class="center">登出</a></li>
    </ul>
    <nav class="deep-orange lighten-2" role="navigation">
        <div class="nav-wrapper nav-container">
            <!--新增UI   一行    -->
            <a href="{% url 'own_front'%}?id={{request.user.id}}" class="nav-logo"></a>
            <a class="brand-logo">{{ group.name }}</a>
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                <li>{{request.user}} 您已經登入囉~</li>
                <li><a href="#"><i class="material-icons">notifications</i></a></li>
                <li><a href="{% url 'own_profile' user=request.user %}"><i class="material-icons">person</i></a></li>
                <li><a class="dropdown-button" data-activates="nav-dropdown" data-alignment='right'><i class="material-icons right">more_vert</i></a></li>
                <!--<div class="fb-share-button" data-href="{% url 'own_group' %}?id={{group.id}}" data-layout="button" data-size="large" data-mobile-iframe="true">-->
                <!--<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpiplusplus-u10216026.c9users.io%2Fgroup%2F%3Fid%3D{{group.id}}&amp;src=sdkpreparse">分享</a></div>-->
                {%else%}
                <li><a class="waves-effect waves-light btn deep-orange lighten-3" href="/login?next=group%3Fid%3D{{ request.GET.id }}">登入</a></li>
                {%endif%}
            </ul>



            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>

        </div>
    </nav>

    <main>
        <div class="container">
            <div class="row">
                <div class="col m4 hide-on-small-only">
                    <div class="card">
                        <div class="card-image">
                            <img src="/{{ group.group_pic.url }}" class="group-pic">

                            {% if user_in_group %}{% if member.is_leader %}
                            <!-- 管理員專用 -->
                            <div class="upload-group-picture center-align">
                                <a href="#modal-edit-group-pic">
                                    <i class="medium material-icons">add_a_photo</i>
                                </a>
                            </div>
                            {% endif %}{% endif %}
                        </div>

                        {% if user_in_group %}{% if member.is_leader %}
                        <!-- 管理員專用 -->
                        <div id="modal-edit-group-pic" class="modal modal-fixed-footer small-modal">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col s12">
                                        <form method="post" action="" id='update_pic' enctype="multipart/form-data">
                                        <div class="row center upload-group-pic">
                                            <div class="actions">
                                                <div class="btn file-btn">
                                                    <span>上傳</span>
                                                   <!-- <form method='post' action='' id='update_pic' enctype="multipart/form-data">-->
                                                   <!-- <input type="file" id="upload" name='image' value="Choose a file" accept="image/*"> -->
                                                   <input type="file" id="upload" value="Choose a file" accept="image/*">
                                                   <input type="text" name="image" id="new-group-image"></input>
                                                    <!--<input type="hidden" name="update_group_pic" value="true">-->
                                                   <!-- </form> -->
                                                </div>
                                            </div>
                                            <div class="upload-msg">
                                                更新大頭貼照...
                                            </div>
                                            <div class="upload-group-pic-wrap">
                                                <div id="upload-group-pic"></div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="update_group_pic" value="true">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="upload-result modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                            </div>
                        </div>
                        {% endif %}{% endif %}

                        <div class="card-content">
                            <h6>成員</h6>
                            
                            {%for membership in memberships %}
                            <img src="../static/media/user/{{ membership.member }}" onerror="this.src='../static/media/user/default.png';" alt="" class="small-circle responsive-img">
                           <!-- <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">-->
                          
                            
                            {%endfor%}
                            <span class="right">...<a href="#modal-group-members">共{{ memberships|length }}人</a></span><br>
                            <label>管理者</label>
                            <p>{{ group.leader }}</p>
                            <br>
                            <label>分類</label>
                            <br>
                            <div class="chip">
                                {{ group.classification }}
                            </div>

                        </div>
                        <div class="card-action">
                            <h6>活躍成員</h6>
                            <ol class="active-members">
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                                <li>
                                    <img src="../static/images/img2.png" alt="" class="small-circle responsive-img">
                                    <span>Name</span>
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div id="modal-group-members" class="small-modal modal modal-fixed-footer">
                        <div class="modal-content">
                            <div class="col s10 offset-s1">
                                <h5 class="light">成員</h5>
                                <ul class="collection group-member-collection">

                                    {%for membership in memberships %}
                                    <li class="collection-item avatar">
                                        <img src="../static/media/user/{{ membership.member }}" onerror="this.src='../static/media/user/default.png';" alt="" class="circle">
                                        <span class="title"><p>{{membership.member}}</p></span> {%if membership.member == group.leader %}
                                        <label>(管理員)
                                        </label> {%endif%}
                                        <p>@{{membership.member}}</p>
                                    </li>
                                    {%endfor%}

                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                        </div>
                    </div>

                </div>
                <div class="col s12 m8">
                    <div class="index-banner-card">
                        <div id="index-banner" class="parallax-container">
                            <div class="section no-pad-bot">
                                <div class="container">
                                    {% if user_in_group %}{% if member.is_leader %}
                                    <!-- 管理員專用 -->
                                    <div class="edit-header"><a href="#modal-edit-group"><i class="material-icons right">edit</i></a>
                                    </div>
                                    {% endif %}{% endif %}
                                    <h3 class="header center teal-text text-lighten-2">{{ group.name }}</h3>
                                    <div class="row center">
                                        <h5 class="header col s12 light">{{ group.group_introduction }}</h5>
                                    </div>

                                    {% if request.user.is_authenticated %} {% if not user_in_group %}
                                    <div class="row right">
                                        <form method='post' action='' id='join_group'>
                                            <input type='hidden' name='join_group' value='true'>
                                        </form>
                                        <a onclick="document.getElementById('join_group').submit()" id="download-button" class="btn waves-effect waves-light teal lighten-1" name="join_group">加入</a>


                                    </div>

                                    {%endif%} {%endif%}

                                    <div class="fb-share-button" data-href="{% url 'own_group' %}?id={{group.id}}" data-layout="button" data-size="large" data-mobile-iframe="true">
                                        <a class="btn waves-effect waves-light teal lighten-1" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpiplusplus-u10216026.c9users.io%2Fgroup%2F%3Fid%3D{{group.id}}&amp;src=sdkpreparse">分享</a></div>

                                </div>
                            </div>



                            <div class="parallax"><img src="../static/images/background1.jpg" alt="Unsplashed background img 1"></div>
                        </div>
                        {% if user_in_group %}{% if member.is_leader %}
                        <!-- 管理員專用 -->
                        <div id="modal-edit-group" class="modal modal-fixed-footer small-modal">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col s12">
                                        <h5 class="light">編輯社團</h5>
                                        <form method="post" action="" id="edit_group">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="name" name="name" type="text" class="validate" value="{{ group.name }}">
                                                <label for="name">名稱</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="description" name="description" type="text" class="validate" value="{{ group.group_introduction }}">
                                                <label for="description">簡介</label>
                                            </div>
                                        </div>
                                        <input type="hidden" name="edit_group" value="true">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a onclick="document.getElementById('edit_group').submit()" class="modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                            </div>
                        </div>
                        <!-- 管理員專用fin -->
                        {% endif %}{% endif %}

                        <ul class="tabs">
                            <li class="tab col s2"><a class="active" href="#discussion">討論</a></li>
                            <li class="tab col s2"><a href="#event">活動</a></li>
                            <li class="tab col s2"><a href="#to-do">進度</a></li>
                            <li class="tab col s2"><a href="#note">筆記</a></li>
                        </ul>
                    </div>

                    {% if request.user.is_authenticated %} {% if user_in_group %}
                    <div class="fixed-action-btn click-to-toggle">
                        <a class="btn-floating btn-large teal accent-2">
                            <i class="large material-icons">add</i>
                        </a>
                        <ul>
                            <li>
                                <a class="btn-floating teal accent-3 tooltipped" data-position="left" data-delay="50" data-tooltip="討論" href="#modal-discuss">
                                    <i class="material-icons">forum</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating teal accent-3 tooltipped" data-position="left" data-delay="50" data-tooltip="活動" href="#modal-event">
                                    <i class="material-icons">event</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating teal accent-3 tooltipped" data-position="left" data-delay="50" data-tooltip="進度" href="#modal-task">
                                    <i class="material-icons">check_circle</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating teal accent-3 tooltipped" data-position="left" data-delay="50" data-tooltip="筆記" href="#modal-note">
                                    <i class="material-icons">note_add</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="modal-discuss" class="modal modal-fixed-footer small-modal">
                        <form method='post' action="">
                            <div class="modal-content">
                                <div class="post-input">
                                    <img src="../static/images/img2.png" alt="" class="circle circle-avatar">
                                    <span class="title">{{request.user}}
                                <i class="material-icons tiny">chevron_right</i>
                                <a href="#">{{ group.name }}</a></span>
                                    <!--<div class="input-field">-->
                                    <!-- <textarea id="discusstext" class="materialize-textarea"></textarea>-->
                                    <!-- <label for="discusstext">說點什麼……</label>-->

                                    <div class="input-field ">
                                        <input type="text" name="name" class="validate">
                                        <label for="name">標題</label>

                                    </div>
                                    <div class="input-field ">
                                        <input type="text" name="content" class="validate">
                                        <label for="content">內容</label>

                                    </div>
                                </div>
                            </div>
                            <!-- <input type='hidden' name='content' value='test'>-->
                            <div class="modal-footer">
                                <!--  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">送出</a>-->
                                <div>
                                    <input class=" modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="add_article" value="送出">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="modal-event" class="modal modal-fixed-footer small-modal">
                        <div class="modal-content">
                            <form method='post' action="" id="add_event">
                                <div class="post-input">
                                    <img src="../static/images/img2.png" alt="" class="circle circle-avatar">
                                    <span class="title">{{request.user}}
                                <i class="material-icons tiny">chevron_right</i>
                                <a href="#">{{ group.name }}</a></span>

                                    <div class="input-field ">
                                        <input type="text" name="event_name" class="validate">
                                        <label for="event_name">活動名稱</label>
                                    </div>
                                    <div class="input-field ">
                                        <input type="text" name="content" class="validate">
                                        <label for="content">內容</label>

                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="event-start-date" name="event_start_date" type="text" class="validate">
                                            <label for="event-start-date">開始日期</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="event-start-time" name="event_start_time" type="text" class="validate">
                                            <label for="event-start-time">開始時間</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="event-end-date" name="event_end_date" type="text" class="validate">
                                            <label for="event-end-date">結束日期</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="event-end-time" name="event_end_time" type="text" class="validate">
                                            <label for="event-end-time">結束時間</label>
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        <input id="location" type="text" name="location" class="validate">
                                        <label for="location">活動地點</label>
                                    </div>
                                    <!-- <div class="input-field">
                                        <textarea id="eventtext" class="materialize-textarea"></textarea>
                                        <label for="eventtext">說點什麼……</label>
                                    </div>-->
                                </div>
                                <input type="hidden" name="add_event" value="true">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="document.getElementById('add_event').submit()">送出</a>
                        </div>
                    </div>
                    <div id="modal-task" class="modal modal-fixed-footer small-modal">
                        <div class="modal-content">
                            <form method="post" action="" id="add_task">
                                <div class="post-input">
                                    <img src="../static/images/img2.png" alt="" class="circle circle-avatar">
                                    <span class="title">{{request.user}}
                                <i class="material-icons tiny">chevron_right</i>
                                <a href="#">{{ group.name }}</a></span>
                                    <div class="input-field">
                                        <input id="task-name" type="text" name="title" class="validate">
                                        <label for="task-name">進度名稱</label>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="task-end-date" name="task_end_date" type="text" class="validate">
                                            <label for="task-end-date">截止日期</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="task-end-time" name="task_end_time" type="text" class="validate">
                                            <label for="task-end-time">截止時間</label>
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        <textarea id="tasktext" name="content" class="materialize-textarea"></textarea>
                                        <label for="tasktext">說點什麼……</label>
                                    </div>
                                </div>
                                <input type="hidden" name="add_task" value="true">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="document.getElementById('add_task').submit()">送出</a>
                        </div>
                    </div>
                    
                    <div id="modal-note" class="modal modal-fixed-footer small-modal">
                        <div class="modal-content">
                            <form method="post" action="" id="add_note">
                                <div class="post-input">
                                    <img src="../static/images/img2.png" alt="" class="circle circle-avatar">
                                    <span class="title">{{request.user}}
                                <i class="material-icons tiny">chevron_right</i>
                                <a href="#">{{ group.name }}</a></span>
                                    <div class="input-field">
                                        <input id="note-name" type="text" name="note_name" class="validate">
                                        <label for="note-name">筆記名稱</label>
                                    </div>
                                </div>
                                <input type="hidden" name="add_note" value="true">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="document.getElementById('add_note').submit()">送出</a>
                        </div>
                    </div>
                    {%endif%} {%endif%}

                    <div id="discussion">
                        {% for discussion in discussions %}
                        <div class="card-panel">

                            <div class="post">
                                <div class="post-content">
                                    <img src="../static/media/user/{{ discussion.creater }}" onerror="this.src='../static/media/user/default.png';" alt="" class="circle circle-avatar">
                                    <div class="title"><a href="/profile/{{ discussion.creater }}">{{ discussion.creater }}</a></div>
                                    <span class="title">{{ discussion.title }}</span>
                                    <p>{{ discussion.content }}
                                    </p>
                                    {% if member == discussion.creater %}
                                    <div class="action-buttons secondary-content">
                                        <a class="waves-effect waves-orange dropdown-button btn-flat" href="#" data-activates="discussion-dropdown{{ discussion.id }}" data-beloworigin="true" alignment="right">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul id="discussion-dropdown{{ discussion.id }}" class="dropdown-content cardpanel-dropdown">
                                            <li><a href="#modal-edit-post{{ discussion.id }}">編輯</a></li>
                                            <li><a href="#modal-delete-post{{ discussion.id }}">刪除</a></li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="modal-edit-post{{ discussion.id }}" class="modal modal-fixed-footer small-modal">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="col s12">
                                            <h5 class="light">文章</h5>
                                            <form method="post" action="" id="edit_post{{ discussion.id }}">
                                            <div class="row">
                                                <input type="hidden" name="edit_post" value="true">
                                                <div class="input-field col s12">
                                                    <input id="post-edit-title" name="title" type="text" class="validate" value="{{ discussion.title }}">
                                                    <label for="post-edit-title">文章標題</label>
                                                    
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="post-edit-content" name="content" type="text" class="validate" value="{{ discussion.content }}">
                                                    <label for="post-edit-content">文章內容</label>
                                                    
                                                </div>
                                                <input type="hidden" name="discussion_id" value="{{ discussion.id }}"/>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                 <a onclick="document.getElementById('edit_post{{ discussion.id }}').submit()" class="modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                                </div>
                                
                                
                                
                            </div>
                            <div id="modal-delete-post{{ discussion.id }}" class="modal small-modal">
                                <div class="modal-content">
                                    <h5 class="light">刪除文章</h5>
                                    <p>確定刪除文章？</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
                                </div>
                            </div>
                            <div class="valign-wrapper">
                                <div class="col s12">
                                    <br>
                                    <div class="action-buttons">
                                        <form id="discussion{{ discussion.id }}_heart" method='post' action="">
                                            <input type="hidden" name="discussion_heart" value="true">
                                            <input type="hidden" name="discussion_id" value="{{ discussion.id }}">
                                        </form>
                                        <a {% if request.user.is_authenticated %} {% if user_in_group %}onclick="document.getElementById('discussion{{ discussion.id }}_heart').submit()" {% endif %}{% endif %} class="waves-effect waves-orange btn-flat {% if discussion in user_heart %}deep-orange-text text-lighten-3{% else %}grey-text text-lighten-1{% endif %}">
                                            <i class="material-icons left">favorite</i>{{ discussion.heart_number }}
                                        </a>
                                        <a class="waves-effect waves-orange btn-flat">
                                            <i class="material-icons left">comment</i>{{ discussion.comment_number }}
                                        </a>
                                        <a class="waves-effect waves-orange btn-flat">
                                            <i class="material-icons left">share</i>{{ discussion.share_number }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <ul class="collection comment-collection">
                                {% for comment in comments %} {% if comment.discussion == discussion %}
                                <li class="collection-item avatar">
                                    <img src="../static/media/user/{{ comment.creater }}" onerror="this.src='../static/media/user/default.png';" alt="" class="circle circle-avatar">
                                    <span class="title"><a href="/profile/{{ comment.creater }}">{{ comment.creater }}</a></span>
                                    <p>{{ comment.content }}
                                    </p>
                                    <div class="action-buttons secondary-content">
                                        <form id="comment{{ comment.id }}_heart" method='post' action="">
                                            <input type="hidden" name="comment_heart" value="true">
                                            <input type="hidden" name="discussion_id" value="{{ discussion.id }}">
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                        </form>
                                        <a {% if request.user.is_authenticated %} {% if user_in_group %}onclick="document.getElementById('comment{{ comment.id }}_heart').submit()" {% endif %}{% endif %} class="waves-effect waves-orange btn-flat  {% if comment in user_comment_heart %}deep-orange-text text-lighten-3{% else %}grey-text text-lighten-1{% endif %}">
                                            <i class="material-icons left">favorite</i>{{ comment.heart_number }}
                                        </a>
                                    </div>
                                </li>
                                {% endif %} {% endfor %}
                            </ul>
                            {% if request.user.is_authenticated %} {% if user_in_group %}
                            <form method="post" action="" id="comment_form{{ discussion.id }}">
                                <input type="hidden" name="discussion_id" value="{{ discussion.id }}">
                            </form>
                            <div class="comment-input">
                                <img src="../static/media/user/{{ user }}" onerror="this.src='../static/media/user/default.png';" alt="" class="circle circle-avatar">
                                <div class="input-field">
                                    <textarea name="comment" id="comment{{ discussion.id }}" class="materialize-textarea" form="comment_form{{ discussion.id }}"></textarea>
                                    <label for="comment">發表留言</label>
                                    <input class=" modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="add_comment" value="評論" form="comment_form{{ discussion.id }}">
                                </div>
                            </div>
                            {% endif %}{% endif %}
                        </div>
                        {% endfor %} {% if request.user.is_authenticated %} {% if not user_in_group %}

                        <div class="talign-wrapper">
                            加入以繼續!
                        </div>
                        {%endif%} {%else%}

                        <div class="talign-wrapper">
                            你還沒有登入喔！
                        </div>
                        {%endif%}

                    </div>
                    <div id="event">
                        <div class="card-panel">
                            
                            <ul class="collection">
                                {% for event in events %}
                                <li class="collection-item avatar">
                                    {% if forloop.counter0|divisibleby:2 %}
                                    <i class="material-icons circle teal accent-3">star</i>
                                    {% else %}
                                    <i class="material-icons circle deep-orange lighten-3">star</i>
                                    {% endif %}
                                    <span class="title">{{ event.title }}</span>
                                    <br>
                                    <span class="title">{{ event.content }}</span>
                                    <p>時間: {{ event.start_date }} {{ event.start_time }} ~ {{ event.end_date }} {{ event.end_time }}<br>
                                    地點: {{ event.location }}
                                            <br>共 {{ event.join_number }} 人參加
                                        </p>
                                        {% if request.user.is_authenticated %} {% if user_in_group %}
                                        <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown{{ event.id }}'>
                                        {% if event.is_join == 0 %}
                                        <i class="material-icons left">event_note</i>不確定</a> {% elif event.is_join == 1 %}
                                        <i class="material-icons left">event_available</i>參加</a>
                                        {% else %}
                                        <i class="material-icons left">event_note</i>不參加</a>
                                        {% endif %}
                                        <ul id='dropdown{{ event.id }}' class='dropdown-content'>
                                            <form id='event_join{{ event.id }}' method='post' action="">
                                                <input type="hidden" name="event_join" value="1">
                                                <input type="hidden" name="event_id" value="{{ event.id }}">
                                            </form>
                                            <form id='event_not_join{{ event.id }}' method='post' action="">
                                                <input type="hidden" name="event_join" value="2">
                                                <input type="hidden" name="event_id" value="{{ event.id }}">
                                            </form>
                                            <form id='event_may_join{{ event.id }}' method='post' action="">
                                                <input type="hidden" name="event_join" value="0">
                                                <input type="hidden" name="event_id" value="{{ event.id }}">
                                            </form>
                                            <li><a onclick="document.getElementById('event_join{{ event.id }}').submit()"><i class="material-icons left">event_available</i>參加</a></li>
                                            <li><a onclick="document.getElementById('event_not_join{{ event.id }}').submit()"><i class="material-icons left">event_busy</i>不參加</a></li>
                                            <li><a onclick="document.getElementById('event_may_join{{ event.id }}').submit()"><i class="material-icons left">event_note</i>不確定</a></li>
                                        </ul>
                                        {%endif%} {%endif%}

                                </li>
                                {% endfor %}
                            </ul>
                            
                        </div>
                    </div>




                    <div id="to-do">
                        <div class="card-panel">
                            <ul class="collection">
                                {% for task in tasks %}
                                <li class="collection-item avatar">
                                    {% if request.user.is_authenticated %} {% if user_in_group %}
                                    <form method="post" action="" id="task_finished{{ task.id }}">
                                        <input type="hidden" name="task_finished" value="true">
                                        <input type="hidden" name="task_id" value="{{ task.id }}">
                                    </form>
                                    <p class="check-list center">
                                        <input onclick="document.getElementById('task_finished{{ task.id }}').submit()" type="checkbox" id="check{{ task.id }}" {% if task.is_finished %} checked {% endif %} />
                                        <label for="check{{ task.id }}"></label>
                                    </p>
                                    {%endif%} {%endif%}
                                    <span class="title">{{ task.title }}</span><br>
                                    <span class="title">{{ task.content }}</span>
                                    <p>時間: {{ task.deadline_date }} {{ task.deadline_time }}
                                        <br> 共 {{ task.finished_number }} 人完成
                                    </p>
                                    {% if request.user.is_authenticated %} {% if user_in_group %}
                                    <div class="secondary-content">
                                        <div class="switch">
                                            <label>
                                                通知
                                                <input type="checkbox" checked>
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                    {%endif%} {%endif%}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div id="note">
                        <div class="card-panel">
                            <ul class="collection">
                                {% for note in notes %}
                                <li class="collection-item avatar">
                                    {% if request.user.is_authenticated %} {% if user_in_group %}
                                    {% if forloop.counter0|divisibleby:2 %}
                                    <i class="material-icons circle teal accent-3">note</i>
                                    {% else %}
                                    <i class="material-icons circle deep-orange lighten-3">note</i>
                                    {% endif %}
                                    <span class="title"><a href="#note_modal{{note.id}}">{{ note.name }}</a></span>
                                    <p>建立者：{{note.creater}}</p>
                                    {% else %}
                                    <span class="title">{{ note.name }}</span>
                                    <p>建立者：{{note.creater}}</p>
                                    {%endif%} {%endif%}
                                </li>
                                    <div id="note_modal{{note.id}}" class="modal note_modal">
                                        <div class="modal-content">
                                            <div class="note-header">
                                                <h5>{{ note.name }}</h5>
                                                <a href="#!" class="modal-close waves-effect waves-teal right teal-text text-accent-3">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </div>
                                          <iframe src="{% url 'note'%}#{{note.id}}" width="100%" height="100%" allowfullscreen="true" frameborder="0"></iframe>
                                        </div>
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/moment.min.js"></script>
    <script src="../static/js/draggabilly.pkgd.min.js"></script>
    <script src="../static/js/mdDateTimePicker.js"></script>
    <script src="../static/js/init.js"></script>
    <script src="../static/js/croppie.js "></script>
    <script src="../static/js/group.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuZHTUplG6m6oMhKAa03kF7ZPk3rFhJ0E&libraries=places&callback=initMap"></script>

    <script>
        document.getElementById('shareBtn').onclick = function() {
            FB.ui({
                method: 'share',
                display: 'popup',
                href: 'https://developers.facebook.com/docs/',
            }, function(response) {});
        }
    </script>
</body>

</html>
