<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico">
    <title>Pi++</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/index.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="deep-orange lighten-2" role="navigation">
        <div class="nav-wrapper nav-container">
            <a href="http://piplusplus-u10216026.c9users.io/" class="nav-logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login/" class="waves-effect waves-light btn deep-orange lighten-3">登入</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div id="index-banner" class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <br>
                    <br>
                    <div class="logo-container center">
                        <object class="responsive-img" width="150px" type="image/svg+xml" data="../static/images/logo_small.svg">Your browser does not support SVG.</object>
                    </div>
                    <div class="row center">
                        <h5 class="header col s12 light">建立屬於你我的的學習小圈圈</h5>
                    </div>
                    <div class="row center">
                        <i class="medium material-icons">expand_more</i>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="parallax"><img src="../static/images/bg01.png" alt="Unsplashed background img 1"></div>
        </div>
        <div class="container">
            <div class="section">
                <!--   Icon Section   -->
                <div class="row valign-wrapper">
                    <div class="col s6">
                        <div class="intro-container">
                            <object class="responsive-img" width="300px" type="image/svg+xml" data="../static/images/index1.svg">Your browser does not support SVG.</object>
                        </div>
                    </div>
                    <div class="col s6">
                        <h4>揪團讀書</h4>
                        <h5>創立自己的讀書社團，邀請朋友一起參加</h5>
                        <p class="light">一個人念書覺得無趣，沒有同伴一起加油打氣很難堅持？遇到困難時沒有人可以教？揪團念書是你最好的選擇，覺得很沒動力繼續下去的時候會有朋友陪伴你，遇到需要幫忙時，有朋友可以互相幫助，讓學習變得更快樂有趣。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <!--   Icon Section   -->
                <div class="row valign-wrapper">
                    <div class="col s6">
                        <h4>認識朋友</h4>
                        <h5>你可以在這裡找到志同道合的好朋友</h5>
                        <p class="light">找到志同道合的朋友一起學習，可以讓學習更加有效率；身旁總是沒有有共同目標的朋友，讓自己很無助或著很沒有決心，加入這個網站可以讓你在學習的道路上更快樂，更有目標。</p>
                    </div>
                    <div class="col s6">
                        <div class="intro-container right">
                            <object class="responsive-img" width="300px" type="image/svg+xml" data="../static/images/index2.svg">Your browser does not support SVG.</object>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <!--   Icon Section   -->
                <div class="row valign-wrapper">
                    <div class="col s6">
                        <div class="intro-container">
                            <object class="responsive-img" width="300px" type="image/svg+xml" data="../static/images/index3.svg">Your browser does not support SVG.</object>
                        </div>
                    </div>
                    <div class="col s6">
                        <h4>多元分類</h4>
                        <h5>多種分類讓你快速找尋有興趣的類別</h5>
                        <p class="light">方便多元的社團分類，省事好查詢，更能拓展其他興趣，開闢自己的一塊新天地，發掘無限的新可能。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">還有更多好玩、實用的功能等你來發現……</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="../static/images/bg02.png" alt="Unsplashed background img 2"></div>
        </div>
        <div class="container">
            <div class="section">
                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center teal-text text-accent-3"><i class="material-icons">event</i></h2>
                            <h5 class="center">舉辦活動</h5>
                            <p class="light center">定期舉辦讀書會，一起學習、交流。</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center deep-orange-text text-lighten-3"><i class="material-icons">check_circle</i></h2>
                            <h5 class="center">建立進度</h5>
                            <p class="light center">確認進度，督促大家確實完成。</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center teal-text text-accent-3"><i class="material-icons">note</i></h2>
                            <h5 class="center">編輯筆記</h5>
                            <p class="light center">一同編輯筆記，增加筆記的完整性。</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center deep-orange-text text-lighten-3"><i class="material-icons">forum</i></h2>
                            <h5 class="center">參與討論</h5>
                            <p class="light center">互相討論、問答，解決學習上的疑惑。</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center teal-text text-accent-3"><i class="material-icons">share</i></h2>
                            <h5 class="center">分享社團</h5>
                            <p class="light center">分享讀書會，邀請更多朋友加入。</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center deep-orange-text text-lighten-3"><i class="material-icons">person</i></h2>
                            <h5 class="center">發現自我</h5>
                            <p class="light center">建立個人檔案，變得更加了解自己。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">覺得目標要花很多時間達成？缺乏學習動力？想要有人陪伴？<br>希望有人督促？希望有志同道合的朋友？</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="../static/images/bg02.png" alt="Unsplashed background img 3"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="center">
                    <div class="logo-container">
                        <object id="logo" class="responsive-img" width="400px" type="image/svg+xml" data="../static/images/logo.svg">Your browser does not support SVG.</object>
                    </div>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'own_front'%}?id={{request.user.id}}" class="waves-effect waves-light btn-large teal accent-2">一起學習吧！</a> {% else %}
                    <a href="/front/" class="waves-effect waves-light btn-large teal accent-2">一起學習吧！</a> {% endif %}
                </div>
            </div>
    </main>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src="../static/js/materialize.js "></script>
    <script src="../static/js/init.js "></script>
    <script src="../static/js/index.js"></script>
</body>

</html>
