<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Profile</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    {% if request.user.is_authenticated %}
    <nav class="deep-orange lighten-2" role="navigation">
        <div class="nav-wrapper nav-container">
            <a href="index.html" class="nav-logo"></a>
            <ul class="right hide-on-med-and-down">
                <li>{{request.user}} 您已經登入囉~<a href="/logout/" class="waves-effect waves-light btn deep-orange lighten-3">登出</a></li>
                <li><a href="#"><i class="material-icons">notifications</i></a></li>
                <li><a href="{% url 'user_profile'%}?id={{request.user.id}}"><i class="material-icons">person</i></a></li>
                <li><a href="#"><i class="material-icons">more_vert</i></a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="index-banner-card">
                        <div id="index-banner" class="parallax-container">
                            <div class="section no-pad-bot">
                                <div class="container">
                                    <h3 class="header center teal-text text-lighten-2">Name</h3>
                                    <div class="row center">
                                        <h5 class="header col s12 light">A modern responsive </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
                        </div>
                        <div class="profile-container">
                            <div class="row center">
                                <img src="../static/images/img2.png" alt="" class="circle responsive-img profile-pic">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 offset-m1">
                    <div class="card-panel">
                        <h5>基本資料</h5>
                        <div>
                            <p>性別
                                <br>{{userextension.gender}}</p>
                            <p>生日
                                <br> {{userextension.birth}}
                            </p>
                            <p>地點
                                <br>{{userextension.location}}</p>
                            <p>E-mail
                                <br>{{user.email}}</p>
                        </div>
                    </div>
                    <div class="card-panel">
                        <h5>自我介紹</h5>
                        <div>
                            <p>簡介
                                <br>{{userextension.self_introduction}}</p>
                            <p>興趣
                                {% for userinterest in userinterests %}
                                <div class="chip">{{userinterest.name}}</div>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card-panel">
                        <h5>社團</h5>
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#test1">全部</a></li>
                            <li class="tab col s3"><a href="#test2">加入的</a></li>
                            <li class="tab col s3"><a href="#test3">擁有的</a></li>
                        </ul>
                        <div class="row">
                            <!--all-->
                            {% for membership in memberships %}
                            <div class="col s6">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{membership.group}}</span>
                                        <p>{{membership.group.join_number}}位成員</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">加入</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--join-->
                            {% for join_group in join_groups %}
                            <div class="col s6">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{join_group.group}}</span>
                                        <p>{{join_group.group.join_number}}位成員</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">加入</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--leader-->
                            {% for leader_group in leader_groups %}
                            <div class="col s6">
                                <div class="card group-card">
                                    <div class="card-image">
                                        <img src="../static/images/img1.png">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{leader_group.name}}</span>
                                        <p>{{leader_group.join_number}}位成員</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">加入</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src="../static/js/materialize.js "></script>
    <script src="../static/js/init.js "></script>
    {% else %}
    <p>authority not allow</p>
    {% endif %}
</body>

</html>
