<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico">
    <title>piplusplus - {{ user }}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/mdDateTimePicker.css" type="text/css" rel="stylesheet" media="screen,projection" /><!-- 管理員專用 -->
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/croppie.css" type="text/css" rel="stylesheet" media="screen,projection" /><!-- 管理員專用 -->
    <link href="../static/css/profile.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    {% if request.user.is_authenticated %}
    <ul id="nav-dropdown" class="dropdown-content">
        <li><a href="/logout/" class="center">登出</a></li>
    </ul>
    <nav class="deep-orange lighten-2" role="navigation">
        <div class="nav-wrapper nav-container">
            <a href="{% url 'own_front' %}?id={{request.user.id}}" class="nav-logo"></a>
            <ul class="right hide-on-med-and-down">
                <li>{{request.user}} 您已經登入囉~</li>
                <li><a href="#"><i class="material-icons">notifications</i></a></li>
                <li><a href="{%url 'own_profile' user=request.user %}"><i class="material-icons">person</i></a></li>
                <li><a class="dropdown-button" data-activates="nav-dropdown" data-alignment='right'><i class="material-icons right">more_vert</i></a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="index-banner-card">
                        <div id="index-banner" class="parallax-container">
                            <div class="section no-pad-bot">
                                <div class="container">
                                    <!-- 管理員專用 -->
                                    {% if is_owner %}
                                        <div class="edit-header"><a href="#modal-edit-name"><i class="material-icons right">edit</i></a>
                                        </div>
                                    {% endif %}
                                    <h3 class="header center teal-text text-lighten-2">{{user.first_name}}</h3>
                                    <div class="row center">
                                        <h5 class="header col s12 light">@{{user}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="parallax"><img src="../static/images/background1.jpg" alt="Unsplashed background img 1"></div>
                        </div>
                        <div class="profile-container">
                            <div class="row center">
                                <img src="/{{ userextention.user_pic.url }}" class="circle responsive-img profile-pic">
                                <!-- 管理員專用 -->
                                {% if is_owner %}
                                <div class="upload-profile">
                                    <a href="#modal-edit-pic">
                                        <i class="medium material-icons">add_a_photo</i>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- 管理員專用 -->
                    {% if is_owner %}
                    <div id="modal-edit-name" class="modal modal-fixed-footer small-modal">
                        <div class="modal-content">
                            <div class="row">
                                <h5 class="light">編輯姓名</h5>
                                <form class="col s12" action="" method="post" id="edit_name">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="name" type="text" name="name" class="validate" value="{{ user.first_name }}">
                                            <label for="name">姓名</label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="edit_name" value="true">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a onclick="document.getElementById('edit_name').submit()" class="modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                        </div>
                    </div>
                    <!-- 管理員專用 -->
                    <div id="modal-edit-pic" class="modal modal-fixed-footer small-modal">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col s12">
                                    <div class="row center upload-profile-pic">
                                        <div class="actions">
                                            <div class="btn file-btn">
                                                <span>上傳</span>
                                                <form method='post' action='' id='update_pic' enctype="multipart/form-data">
                                                    <input type="file" id="upload" value="Choose a file" accept="image/*">
                                                    <input type="text" name="image" id="new-profile-image"></input>
                                                    <input type="hidden" name="update_profile_pic" value="true">
                                                </form>
                                            </div>
                                        </div>
                                        <div class="upload-msg">
                                            更新大頭貼照...
                                        </div>
                                        <div class="upload-profile-pic-wrap">
                                            <div id="upload-profile-pic"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a onclick="document.getElementById('update_pic').submit()" class="upload-result modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col s12 m4 offset-m1">
                    <div class="card">
                        <div class="card-content">
                            <!-- 管理員專用(<i>...</i>) -->
                            <h5 class="activator">基本資料{% if is_owner %}<i class="material-icons right">edit</i>{% endif %}</h5>
                            <div>
                                <p>
                                    <label class="active">性別</label>
                                    <br>{{userextention.gender}}</p>
                                <br>
                                <p>
                                    <label class="active">生日</label>
                                    <br>{{userextention.birth}}</p>
                                <br>
                                <p>
                                    <label class="active">地點</label>
                                    <br>{{userextention.location}}</p>
                                <br>
                                <p>
                                    <label class="active">E-mail</label>
                                    <br>{{user.email}}</p>
                            </div>
                        </div>
                        <!-- 管理員專用 -->
                        {% if is_owner %}
                        <div class="card-reveal">
                            <h5 class="card-title">基本資料<i class="material-icons right">close</i></h5>
                            <div class="card-edit">
                                <form class="col s12" action="" method="post" id="edit_profile">
                                    <div class="input-field">
                                        <label class="active">性別</label>
                                        <input name="gender" type="radio" id="male" value="男"/>
                                        <label for="male">男</label>
                                        <input name="gender" type="radio" id="female" value="女"/>
                                        <label for="female">女</label>
                                    </div>
                                    <br>
                                    <div class="input-field">
                                        <input id="birthday" name="birth" type="text" class="validate" value="{{ userextention.birth }}">
                                        <label for="birthday">生日</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="location" name="location" type="text" class="validate" value="{{ userextention.location }}">
                                        <label for="location">地點</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="email" name="email" type="email" class="validate" value="{{ user.email }}">
                                        <label for="email">Email</label>
                                    </div>
                                    <input type="hidden" name="edit_profile" value="true">
                                </form>
                            </div>
                            <a onclick="document.getElementById('edit_profile').submit()" class="modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card" id="card-introduction">
                        <div class="card-content">
                            <!-- 管理員專用(<i>...</i>) -->
                            <h5 class="activator">自我介紹{% if is_owner %}<i class="material-icons right">edit</i>{% endif %}</h5>
                            <div>
                                <p>
                                    <label class="active">簡介</label>
                                    <br>{{userextention.self_introduction}}</p>
                                <br>
                                <p>
                                    <label class="active">興趣</label>
                                    <br>
                                    {% if userinterests.exists %}
                                        {% for userinterest in userinterests %}
                                        <div class="chip">{{userinterest.name}}</div></p>
                                        {% endfor %}
                                    {% else %}
                                        <div class="chip">{{userinterest.name}}</div></p>
                                    {% endif %}
                                </p>
                                <br>
                            </div>
                        </div>
                        <!-- 管理員專用 -->
                        {% if is_owner %}
                        <div class="card-reveal">
                            <h5 class="card-title">自我介紹<i class="material-icons right">close</i></h5>
                            <div class="card-edit">
                                <form action="" method="post" id="edit_introduction">
                                <div class="input-field">
                                    <textarea id="introduction" name="introduction" class="materialize-textarea"></textarea>
                                    <label for="introduction">簡介</label>
                                </div>
                                <div class="input-field">
                                    <select multiple class="edit-interests" name="interest">
                                        <option value="" disabled selected>選擇你的興趣</option>
                                        <option value="1">資訊科技</option>
                                        <option value="2">工程建築</option>
                                        <option value="3">數理化學</option>
                                        <option value="4">醫藥衛生</option>
                                        <option value="5">自然科學</option>
                                        <option value="6">藝術設計</option>
                                        <option value="7">人文社會</option>
                                        <option value="8">財經管理</option>
                                        <option value="9">語言學習</option>
                                        <option value="10">運動遊憩</option>
                                        <option value="11">資格檢定</option>
                                        <option value="12">升學考試</option>
                                        <option value="13">其他</option>
                                    </select>
                                    <label>興趣</label>
                                </div>
                                <input type="hidden" name="edit_introduction" value="true">
                                </form>
                            </div>
                            <a onclick="document.getElementById('edit_introduction').submit()" class="modal-action modal-close waves-effect waves-green btn-flat">確定</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card-panel">
                        <h5>社團</h5>
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#all">全部</a></li>
                            <li class="tab col s3"><a href="#member">加入的</a></li>
                            <li class="tab col s3"><a href="#your">擁有的</a></li>
                        </ul>
                        <div class="row">
                            <!--all-->
                            <div id="all" class="col s12">
                            {% if memberships.exists %}
                                {% for membership in memberships %}
                                <div class="card group-card col s6">
                                    <div class="card-image">
                                        <img src="/{{ membership.group.group_pic.url }}">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="{% url 'own_group'%}?id={{membership.group.id}}">{{membership.group.name}}</a></span>
                                        <p>{{membership.group.join_number}}位成員</p>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <p>你還沒有創立/加入任何社團喔!</p>
                            {% endif %}
                            </div>
                            <!--join-->
                            <div id="member" class="col s12">
                            {% if join_groups.exists %}
                                {% for join_group in join_groups %}
                                <div class="card group-card col s6">
                                    <div class="card-image">
                                        <img src="/{{ join_group.group.group_pic.url }}">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="{% url 'own_group'%}?id={{join_group.group.id}}">{{join_group.group.name}}</a></span>
                                        <p>{{join_group.group.join_number}}位成員</p>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <p>你還沒有加入任何社團喔!</p>
                            {% endif %}
                            </div>
                            <!--leader-->
                            <div id="your" class="col s12">
                            {% if leader_groups.exists %}
                                {% for leader_group in leader_groups %}
                                <div class="card group-card col s6">
                                    <div class="card-image">
                                        <img src="/{{ leader_group.group_pic.url }}">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title"><a href="{% url 'own_group'%}?id={{leader_group.id}}">{{leader_group.name}}</a></span>
                                        <p>{{leader_group.join_number}}位成員</p>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <p>你還沒有創立任何社團喔!</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src="../static/js/materialize.js "></script>
    <script src="../static/js/moment.min.js"></script><!-- 管理員專用 -->
    <script src="../static/js/draggabilly.pkgd.min.js"></script><!-- 管理員專用 -->
    <script src="../static/js/mdDateTimePicker.js"></script><!-- 管理員專用 -->
    <script src="../static/js/init.js "></script>
    <script src="../static/js/croppie.js "></script><!-- 管理員專用 -->
    <script src="../static/js/profile.js "></script>
    {% else %}
    <p>authority not allow</p>
    {% endif %}
</body>

</html>
