<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>登入</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="deep-orange lighten-2" role="navigation">
        <div class="nav-wrapper nav-container">
            <a href="index.html" class="nav-logo"></a>
            <ul class="right hide-on-med-and-down">
                <li>還沒有帳號?<a href="sign_up.html" class="waves-effect waves-light btn deep-orange lighten-3 inline-element">註冊</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <form class="col s8 offset-s2">
                    <div class="card">
                        <div class="center">
                            <div class="logo-container">
                                <object id="logo" class="responsive-img" width="130px" type="image/svg+xml" data="../static/images/logo.svg">Your browser does not support SVG.</object>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8 offset-s2">
                                <input id="id" type="text" class="validate">
                                <label for="id">ID</label>
                            </div>
                            <div class="input-field col s8 offset-s2">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <h2 class="strikeThrough"><span>或</span></h2>
                        <div class="row">
                            <a class="waves-effect waves-light btn indigo lighten-1 col s8 offset-s2">以 facebook 登入</a>
                        </div>
                        <div class="card-action center">
                            <a href="front_log_in.html">登入</a>
                        </div>
                    </div>
                </form>
            </div>
    </main>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src="../static/js/materialize.js "></script>
    <script src="../static/js/init.js "></script>
</body>

</html>
